.bestseller {
    background-color: rgba(255, 247, 247, 1);
    height: 738px;
    .future-head {
      margin-top: 80px;
    }
    .productCard {
      background-color: rgba(255, 255, 255, 1);
      .bag3 {
        width: 212px;
        height: 134px;
        margin: 95px 74px 41px 74px;
      }
      .bag4 {
        width: 284px;
        height: 243px;
        margin: 11px 38px 16px 38px;
      }
      .bag5 {
        width: 208px;
        height: 150px;
        margin: 73px 76px 47px 76px;
      }
    }
  }
  