@font-face {
    font-family: "Rubik";
    src: url(../../font/Rubik/static/Rubik-Regular.ttf);
  }


  @font-face {
    font-family: "Montserrat";
    src: url(../../font/Montserrat/static/Montserrat-Regular.ttf);
  }  








.mainshoulderbags{

width: 172px;
height: 24px;
margin-top: 24px;
display: flex;
justify-content: center;
align-items: center;
font-family: "Poppins";
font-size: 14px;
font-weight: 400;
line-height: 23.8px;


}

.tophome{

    color: #1D1D1D;

}

.topshoulderbag{

    color: #1D1D1DBF;


}



.mainleftbagside{

width: 72px;
height: 472px;



}

.mainbagcontainer{

width: 72px ;
height: 94px;
border: 1px solid #206363;
margin-top: 16px;
border-radius: 3px;
}

.mainbagcontainer1{

    width: 72px ;
    height: 94px;
    border: 1px solid #206363;
    border-radius: 3px;
    }

.chvdwn{
    margin-left: 24px;
}

.chwup{
    margin-left: 24px; 
}


.middletopside{
width: 1128px;
height: 473px;
margin-top: 32px;
position: relative;

}

.middleimgside{
    width: 456px;
    height: 473px;
    position: absolute;
    top: 0px;
    left: 96px;
    border-radius: 3px;
    background-color:#F9F9F9;
    display: flex;
    justify-content: center;
    align-items: center;
    
 
}
.middleimgconatiner{
    height: 379px;
    width: 340px;
}

.imgiconleft{

position: absolute;
top: 24px;
left: 24px;

}

.imgiconright{
    position: absolute;
    right: 24px;
    top: 24px;
}

.middlerightbox{

width: 512px;
height: 439px;
position: absolute;
top: 0px;
left: 616px;

}

.topboxtext{

    width: 512px;
    height: 41px;
}

.hoteltext{

    font-family: "Rubik";
    font-size: 24px;
    font-weight: 500;
    line-height: 40.8px;
    text-align: left;
    

}

.middlestarbox{
    width: 211px;
    height: 24px;
    margin-top: 8px;
    display: flex;
   align-items: center;
}

.middle50{
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
    line-height: 23.8px;
    padding-left: 10px;
    
}
.bordericon{
    padding-left: 9px;
}


.middle20{

font-family: "Poppins";
font-size: 14px;
font-weight: 400;
line-height: 23.8px;
padding-left: 8px;
color: #212121;



}
.midprice{
    margin-top: 24px;
    width: 472px;
    height: 136px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.midpricebox{

width: 224px;
height: 60px;
border: 1px solid #E4E4E4;
border-radius: 8px;
display: flex;
justify-content: center;
align-items: center;




}
.pieces29{
font-family: "Poppins";
font-size: 14px;
font-weight: 400;
line-height: 23.8px;
color: #212121E5;



}

.price20{

    font-family: "Poppins";
    font-size: 18px;
    font-weight: 500;
    line-height: 30.6px;
    color: #212121E5;
padding-left: 30px;
    
    

}

.pieces1049{

    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
    line-height: 23.8px;
    color: #212121E5;

    

}

.price15{
padding-left: 20px;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 500;
    line-height: 30.6px;
    
    color: #212121E5;


}

.pieces50{

    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
    line-height: 23.8px;
    color: #212121E5;


}

.price12{
padding-left: 41px;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 500;
    line-height: 30.6px;
    color: #F75145;

    

}

.sizecolorside{

width: 361px;
height: 27px;
margin-top: 32px;
text-align: center;

}


.spansize{

    font-family: "Rubik";
    font-size: 16px;
    font-weight: 500;
    line-height: 27.2px;
    
    

}

.spancolor{

    font-family: "Rubik";
    font-size: 16px;
    font-weight: 500;
    line-height: 27.2px;
    padding-left: 287px;
}

.sizecolorcontainer{

width: 447px;
height: 40px;
margin-top: 16px;
display: flex;
justify-content: space-between;


}


.middlesizecontainer{

width: 220px;
height: 40px;
display: flex;
align-items: center;
justify-content: space-between;

}


.middlecolorcontainer{
margin-left: 100px;
width: 127px;
height: 24px;
display: flex;
justify-content: space-between;
align-items: center;

}

.sizebox{

width: 64px;
height: 40px;
border-radius: 8px;
border: 1px solid #212121;
color: #212121E5;
display: flex;
justify-content: center;
align-items: center;


}

.textxs{

    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    color: #212121E5;

}

.texts{

    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    color: #212121E5;
    

}

.textm{

    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    color: #212121E5;

    

}

.colorboxorangesize{

    width: 24px;
    height: 24px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.colorboxorange{

width: 18px;
height: 18px;
border-radius: 50px;
background: #CD5C0B;


}

.colorboxblue{

    width: 18px;
    height: 18px;
    border-radius: 50px;
    background-color: #0085FF;
    border: 1px none ;
   
    

}

.colorboxgreen{

    width: 18px;
    height: 18px;
    border-radius: 50px;
    background-color:#35783B;
    border: 1px none ;

}

.colorboxpink{

    width: 18px;
    height: 18px;
    border-radius: 50px;
    background-color:#ED0875;
    border: 1px none ;

}

.middlebuttonside{
margin-top: 40px;
width: 512px;
height: 52px;
display: flex;
justify-content: space-between;
align-items: center;

}


.addtocardbtn{

width: 244px;
height: 52px;
border-radius: 8px;
background-color: #DF4244;
border: none;


}

.cashbtn {

    width: 244px;
    height: 52px;
    border-radius: 8px;
    border: 1px solid #212121;

}

.addtocardtext{

    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 500;
    line-height: 27.2px;
    color:#FFFFFF;
    
}

.cashpaymenttext{

    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 500;
    color: #212121;
}

.wporderside{
margin-top: 11px;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
    line-height: 23.8px;
    text-decoration: underline;
    

}




.productpage {
    margin: auto;
    max-width: 1128px;
    
    height: 1200px;
     
}

.middletextrange{

width: 1128px;
height: 696px;

margin-top: 103px;


}

.toptextcontainer{

width: 361px;
height: 34px;

display: flex;
justify-content: space-between;
align-items: center;

}

.producttext{


    font-family: "Poppins";
    font-size: 20px;
    font-weight: 500;
    line-height: 34px;
    color: #858585;

    

}

.reviewstext{


    font-family: "Poppins";
    font-size: 20px;
    font-weight: 500;
    line-height: 34px;
    color: #212121;

    

}

.imgcontainer{
margin-top: 16px;
    width: 1130px;
    height: 0px;
    top: 912px;
    left: 202px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #27314226;    

}

.redline{

    width: 96px;
    height: 0px;
    top: 912px;
    left: 449px;
    gap: 0px;
    border: 4px 0px 0px 0px;
    opacity: 0px;
    border: 4px solid #DF4244;
    margin-left: 248px;

}

.commentcontainer{

width: 960px;
height: 606px;

margin-top: 40px;
display: flex;
justify-content: space-between;
flex-direction: column;

}

.commentbox{

width: 960px;
height: 186px;
border-radius: 8px;
border-width: 0px, 0px, 0px, 0px;
border-style: solid;
border-color: #21212147;


}


.textstar{

width: 230px;
height: 34px;

margin-left: 41px;
margin-top: 24px;
display: flex;
justify-content: space-between;
align-items: center;

}

.johnsmittext{

    font-family: "Rubik";
    font-size: 20px;
    font-weight: 500;
    line-height: 34px;
    color: #212121;


}

.firststar{

width: 94px;
height: 14px;

}

.datetime{

width: 87px;
height: 24px;

margin-left: 41px;
margin-top: 8px;

}

.datetimetext{

    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
    line-height: 23.8px;
    color: #212121BF;

    

}


.loremcontainer{

width: 698px;
height: 48px;

margin-top: 24px;
margin-left: 41px;

}

.loremtext{
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
    line-height: 23.8px;
    color: #212121BF;
}




















@media only screen and (max-width: 992px) {
    .productpage {
      max-width: 100%; 
      padding: 0 20px; 
      overflow-x: hidden;
      
    }

    .middleimg{
        display: block;
    }
  
    .mainleftbagside{
        display: none;
    }
    .middletopside {
      width: 100%; 
      margin-top: 16px; 
      
    }
  
    .middleimgside {
      width: 100%; 
      position: static; 
      margin-top: 16px; 
      
    }
  
    .middlerightbox {
      width: 100%; 
      position: static;
      margin-top: 16px; 
      padding: 0 20px;
    }
  
    .midprice {
      width: 100%; 
      flex-direction: row; 
      
    }
  
    .sizecolorside {
      width: 100%; 
      text-align: left; 
      margin-top: 100px; 
    }
  

.middlecolorcontainer{
    display: none;
}

.spancolor{

    display: none;
}

    .sizecolorcontainer {
      width: 100%;
      justify-content: space-around; 
      margin-top: 8px; 
      flex-wrap: wrap;
      
    }
  
    .middlebuttonside {
      width: 100%; 
      justify-content: space-around; 
      margin-top: 24px; 
    }

// a
.middletextrange {
    width: 100%;
    height: auto;
    padding: 0 15px;
    box-sizing: border-box;
    overflow-x: hidden; 
    margin-top: 600px;
  
  }

  .toptextcontainer {
    width: 100%;
  }

  .imgcontainer {
    display: none; 
  }

  .redline {
    display: none; 
  }

  .commentcontainer {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }

  .commentbox {
    width: 100%;
    height: auto;
    margin-bottom: 20px; 
  }

  .textstar {
    width: 100%;
    margin-left: 0;
    justify-content: flex-start;
  }

  .datetime {
    width: 100%;
    margin-left: 0;
  }

  .loremcontainer {
    width: 100%;
    margin-left: 0;
  }
}

  
  

  






















